.table{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.table div {
    width: 400px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.table div div {
    background: aqua;
    border: black solid 1px;
}